<h1>Event</h1>

            <br />Id :{{ event.id }}</td>
            <br />Name :{{ event.name }}</td>
            <br />Eventdate :{{ event.eventDate|date('Y-m-d H:i:s') }}</td>
            <br />Numberofparticipant :{{ event.numberOfParticipant }}</td>
        <ol>
        {% for startup in event.startups %}
            <li><a href="{{ path('startup_show', { 'id': startup.id }) }}">{{startup.name}}</a></li>
        {% endfor %}
        </ol>
<ul class="record_actions">
    <li>
        <a href="{{ path('event') }}">
            Back to the list
        </a>
    </li>
</ul>
